<div class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-5">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo': 'false' }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%# f.input :experience_level, 
            collection: User::SKILL_LEVELS, 
            prompt: "Select your experience level", 
            input_html: { name: "experience_level" }, 
            required: false, class: 'form-input' 
          %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="my-4">
          <%= recaptcha_tags %>
        </div>

        <div class="d-flex justify-content-between align-items-center my-3">
          <div>
            <%= link_to "Go to Log In", new_user_session_path %>
          </div>
          <div>
            <%= f.button :submit, "Sign up", class: "signup-button" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>