<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="largeModalLabel">Appointement Overview</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="d-flex flex-column fs-6 gap-2 justify-content-evenly align-items-center py-3">
          <%= image_tag(@user.avatar, class:"modal-avatar") %>
          <strong data-day-selector-target="dayInput"></strong>
          <span data-day-selector-target="startInput"></span>
          <span data-day-selector-target="endInput"></span>
        </div>

        <%= simple_form_for ([user, booking]) do |f| %>
          <%= f.input :time_slot_id, as: :hidden, input_html: { data: { day_selector_target:"timeSlotInput" }} %>
          <%= f.input :booking_date, as: :hidden, input_html: { data: { day_selector_target:"bookingDateInput" }} %>
          <%= f.input :note, label: "Send a message to #{@user.first_name} (optional)" %>
          <%= f.button :submit, "Confirm Booking", class: "btn btn-success rounded-5 w-100" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
