<div class="modal fade" id="booking-modal" tabindex="-1" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="largeModalLabel">Appointement Overview</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="d-flex flex-column fs-6 gap-2 justify-content-evenly align-items-center py-3">
          <%= image_tag(user.avatar, class:"modal-avatar") %>
          <strong data-booking-selector-target="dateInput" class="fs-5"></strong>
          <div class="d-flex">
          <span data-booking-selector-target="timeInput" class="fs-6"></span>
        </div>
        </div>

        <%= f.hidden_field :time_slot_id, data: { booking_selector_target: "timeSlotIdInput" } %>
        <div class="mb-3">
          <%= f.label :note, "Send a message to #{user.first_name} (optional)" %>
          <%= f.text_area :note, class: "form-control" %>
        </div>
        <%= f.submit "Confirm Booking", class: "find-buddy-button w-100 m-0" %>

      </div>
    </div>
  </div>
</div>
