<div data-controller="availability">
  <p class="custom-form-title">Select a day to see your slots: </p>
  <div class="weekdays-row">

  <%# day buttons ---------------------- %>

    <% [1, 2, 3, 4, 5, 6, 0].each do |day| %>
      <div class="button-day"
      data-action="click->availability#showDay"
      data-availability-target="button"
      data-day="<%= day %>">
        <span class="button-day-text">
          <strong><%= day_string(day) %></strong>
        </span>
        <i class="fa-solid fa-circle-plus cross-icon"

           data-action="click->availability#stopPropagation
           click->availability#showForm">
        </i>
      </div>
    <% end %>
  </div>


  <%# availability slots per day ------------------ %>

  <% [1, 2, 3, 4, 5, 6, 0].each do |day| %>
    <div class="section-container-availability day-slots hidden"
    data-availability-target="daySlots"
    data-day="<%= day %>">
      <% slots_for_day = @time_slots.select { |slot| slot.day == day } %>

      <%# ^ line above...creates an array with only the timeslots for
            a day that matches the day clicked  %>



      <%# if slots_for_day array is empty then
          message no time slots yet -------------------- %>

      <% if slots_for_day.empty? %>
        <div class="no-time-slots-created-yet">

          <div>
            <%= image_tag "warning_message_bee.png",
            alt: 'illustration of a bee talking',
            class:"no-time-slots-yet-image" %>
          </div>
          <h3 class="message-no-time-slots-yet">
            No time slots created yet for <%= day_string(day) %>. <%# uses helper to transform integer into day %>
          </h3>
          <button class="create-time-slot-button"
            data-action="click->availability#showForm">
            <strong>Create your first one</strong>
            <i class="fa-solid fa-chevron-right px-2"></i>
          </button>
        </div>


      <%# list with existing time slots ------------------------------------ %>

      <% else %>

        <div class="custom-availability-table"
          data-availability-target="table">
          <p class="custom-form-title-slots">Your availability slots on <%= day_string(day) %>: </p>
          <div class="custom-availability-header-slot-rows">

            <div class="custom-availability-cell">
              <p>starts at:</p>
            </div>
            <div class="custom-availability-cell">
              <p>ends at:</p>
            </div>
            <div class="custom-availability-cell">
              <p>edit or delete</p>
            </div>
          </div>

          <% slots_for_day.each do |slot| %>
            <div class="custom-availability-row">
              <div class="custom-availability-cell">
                <p><%= slot.start_time.strftime("%H:%M") %> h.</p>
              </div>
              <div class="custom-availability-cell">
               <p><%= slot.end_time.strftime("%H:%M") %> h.</p>
              </div>
              <div class="custom-availability-cell custom-icons">
                <a href="#" class="custom-button-icon">
                  <i class="fas fa-edit"></i>
                </a>
                <a href="#" data-method="delete"
                   data-confirm="Are you sure?"
                   class="custom-button-icon">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# form to crate a new time slot ------------------- %>

  <div class="section-container-availability"
    data-availability-target="form"
    style="display: none;">

    <p class="custom-form-title-slots">Create a new timeslot</p>

    <%= form_with(model: @time_slot, url: time_slots_path, local: true) do |f| %>
      <div class="custom-availability-header">
        <div class="custom-availability-header-text">
          <p id="start-time-header-text">start time</p>
        </div>
        <div class="custom-availability-header-text">
          <p id="end-time-header-text">end time</p>
        </div>
      </div>

      <div class="custom-availability-row">
        <div class="custom-availability-cell">
          <%= f.time_field :start_time, format: "%H:%M" %>
        </div>
        <div class="custom-availability-cell">
          <%= f.time_field :end_time, format: "%H:%M" %>
        </div>
        <div>
          <%= f.hidden_field :day, data: { availability_target: "dayField" } %>
        </div>
      </div>

      <div class="custom-availability-cell">
        <%= f.submit 'Save timeslot', class: 'save-timeslot-button' %>
      </div>
    <% end %>


  </div>

</div>
