<div class="custom-margin-top">
  <p class="overview-subtitle">My Beehive</p>
  <div class="row">
    <% current_user.favorited_users.each do |user| %>
        <div class="mb-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card h-100 border border-0 rounded-5" data-controller="removecard" data-removecard-target="card">
            <div class="card-body pb-0">
              <div class="d-flex justify-content-between align-items-start">
                <%= link_to profile_user_path(user), class: "card-links" do %>
                  <h4 class="card-title"><%= user.first_name %> <%= user.last_name %></h4>
                <% end %>
                
                <!-- Favorite button -->
                <div data-action="click->removecard#toggleRemove">
                  <%= render partial: 'users/fav_button', locals: { user: user } %>
                </div>
                
              </div>
                <p class="card-text"><i class="fa-solid fa-desktop"></i><span class="icon-space"></span><%= user.experience_level %></p>
                <p class="card-text"><i class="fa-solid fa-book-open"></i><span class="icon-space"></span>I'm currently working on</p>
              <div class="d-flex">
                <% if user.programming_languages.nil? || user.programming_languages.empty? %>
                  <p class="card-text"><small class="text-muted">No skills selected</small></p>
                <% else %>
                  <% programming_languages_array = user.programming_languages.split(/[\s,]+/) %>
                  <% if programming_languages_array.size >= 4 %>
                    <% first_three_languages = programming_languages_array.first(3) %>
                    <% first_three_languages.each do |language| %>
                      <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= language %></small></p>
                    <% end %>
                    <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= link_to '...', profile_user_path(user), class: 'text-dark text-decoration-none ' %></small></p>
                  <% else %>
                    <% programming_languages_array.each do |language| %>
                      <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= language %></small></p>
                    <% end %>
                  <% end %>   
                <% end %>  
              </div>

            </div>
            <div class="px-3 pb-3">
              <% if user.avatar.nil? || user.avatar.empty? %>
                <%= image_tag "placeholder_card_image.png", alt: 'user avatar', class: "card-img-bottom rounded-4" %>
              <% else %>
                <%= image_tag user.avatar, alt: 'user avatar', class: "card-img-bottom rounded-4" %>
              <% end %>
            </div>
          </div>
        </div>
      <%# more details here %> 
    <% end %>
  </div>
</div>
