<% unless @users.empty? || @users.nil? %>
  <p class="h2">
    <% if params[:query].blank? && params[:experience_level].blank? %>
      <%= pluralize @users.count, "buddy" %> available
    <% elsif params[:query].blank? %>
      <%= pluralize @users.count, "buddy" %> with <code class="text-capitalize"><%= params[:experience_level] %></code> experience level available
    <% else %>
      <% query_text = params[:query].downcase %>
      <% if query_text.include?("html") || query_text.include?("css") %>
        <%= pluralize @users.count, "buddy" %> with <code class="text-uppercase"><%= params[:query].upcase %></code> skills
      <% else %>
        <%= pluralize @users.count, "buddy" %> with <code class="text-capitalize"><%= params[:query].capitalize %></code> skills
      <% end %>
      <% unless params[:experience_level].blank? %>
        and <code class="text-capitalize"><%= params[:experience_level] %></code> experience level
      <% end %>
    <% end %>
  </p>
<% end %>

<div class="row">
  <% if @users.empty? || @users.nil? %>
    <div class="col-12 d-flex flex-column align-items-center justify-content-center" style="height: 60vh;">
      <%= image_tag "no-results-img.png", alt: 'A bee comic', class: "no-results-img mb-5" %>
      <h3>Can't find any buddies with this search criteria.</h3>
      <h3>Please try again.</h3>
    </div>
  <% else %>
    <% @users.each do |user| %>
      <div class="mb-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card h-100 border border-0 rounded-5">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between align-items-start">
              <%= link_to profile_user_path(user), class: "card-links" do %>
                <h4 class="card-title"><%= user.first_name %> <%= user.last_name %></h4>
              <% end %>
              
              <!-- Favorite button -->
              <div data-controller="favorite"
                   data-favorite-user-id="<%= user.id %>"
                   data-favorited="<%= current_user.favorited?(user) %>">
                <%= render_favorite_button(user) %>
              </div>
              
            </div>
            <p class="card-text"><i class="fa-solid fa-desktop"></i><span class="icon-space"></span><%= user.experience_level %></p>
            <p class="card-text"><i class="fa-solid fa-book-open"></i><span class="icon-space"></span>I'm currently working on</p>

            <div class="d-flex">
              <% if user.programming_languages.nil? || user.programming_languages.empty? %>
                <p class="card-text"><small class="text-muted">No skills selected</small></p>
              <% else %>
                <% programming_languages_array = user.programming_languages.split(/[\s,]+/) %>
                <% if programming_languages_array.size >= 4 %>
                  <% first_three_languages = programming_languages_array.first(3) %>
                  <% first_three_languages.each do |language| %>
                    <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= language %></small></p>
                  <% end %>
                  <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= link_to '...', profile_user_path(user), class: 'text-dark text-decoration-none ' %></small></p>
                <% else %>
                  <% programming_languages_array.each do |language| %>
                    <p class="card-text"><small class="badge rounded-pill badge-custom text-dark mb-3 mt-2"><%= language %></small></p>
                  <% end %>
                <% end %>   
              <% end %>  
            </div>

          </div>
          <div class="px-3 pb-3">
            <% if user.avatar.nil? || user.avatar.empty? %>
              <%= image_tag "placeholder_card_image.png", alt: 'user avatar', class: "card-img-bottom rounded-4" %>
            <% else %>
              <%= image_tag user.avatar, alt: 'user avatar', class: "card-img-bottom rounded-4" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= javascript_importmap_tags %> <!-- Include Import map tags -->
<%= javascript_importmap_resolve_tags %> <!-- Resolve JavaScript imports -->
<%= stimulus_include_tags %> <!-- Include Stimulus.js -->