<div class="d-flex justify-content-center row">
  <div class="search">
    <%= form_with url: users_path, method: :get, local: true do %>
      <input type="text" class="search-input" placeholder="Search by skill ..." name="query" value="<%= params[:query] %>">
      <select name="experience_level" class="experience-level-dropdown">
        <option value="">Experience Level</option>
        <% ['beginner', 'intermediate', 'advanced'].each do |level| %>
          <option value="<%= level %>" <%= 'selected' if params[:experience_level] == level %>><%= level.capitalize %></option>
        <% end %>
      </select>
      <button type="submit" class="search-icon border-0">
        <i class="fa fa-search"></i>
      </button>
    <% end %>
  </div>
</div>