<div class="container">
  <h1>Account Overview</h1>

  <!-- Top 3 tabs -->
  <ul class="nav nav-tabs" id="accountTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="appointments-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" aria-selected="true">My Appointments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="beehive-tab" data-toggle="tab" href="#beehive" role="tab" aria-controls="beehive" aria-selected="false">My Beehive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="achievements-tab" data-toggle="tab" href="#achievements" role="tab" aria-controls="achievements" aria-selected="false">My Achievements</a>
    </li>
  </ul>

  <div class="tab-content" id="accountTabsContent">
    <div class="tab-pane fade show active" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
      <!-- My Appointments content -->
      <div class="mt-4">
        <h2>Upcoming</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Message</th>
              <th>Buddy</th>
              <th></th> <!-- empty column for icons -->
            </tr>
          </thead>
          <tbody>
            <% @upcoming_bookings.each do |booking| %>
              <tr class="appointment-row">
                <td><%= booking.start_date %></td>
                <td><%= booking.start_date.strftime("%I:%M %p") %></td> <!-- time in AM/PM format -->
                <td>"<%= booking.note %>"</td>
                <td>
                  <% buddy = booking.buddy1 == current_user ? booking.buddy2 : booking.buddy1 %>
                  <%= image_tag(buddy.avatar, class: 'my-appointments-avatar') %>
                  <%= buddy.username %>
                </td>
                <td>
                  <%= link_to edit_booking_path(booking), class: 'btn btn-sm btn-link' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-link' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="beehive" role="tabpanel" aria-labelledby="beehive-tab">
      <!-- My Beehive content -->
    </div>
    <div class="tab-pane fade" id="achievements" role="tabpanel" aria-labelledby="achievements-tab">
      <!-- My Achievements content -->
    </div>
  </div>
</div>
