<div class="wrapping-container">


  <div class="custom-container" data-controller="tabs">

    <button class="back-button"
      style="position: absolute;
             clear:both;
             margin-left: 300px;
             margin-top: 30px;"
             onclick="window.location.href='<%= request.referer || root_path %>'">back
    </button><br>

    <h1 class="overview-title"><span class="overview-title-thin">my</span> account overview</h1>

    <!-- Top 4 tabs --------------------------------------------------------------->
    <ul class="custom-nav-tabs" id="accountTabs">
      <li class="custom-nav-item">
        <a class="custom-nav-link"
            id="appointments-tab"
            href="#appointments"
            data-action="tabs#switch"
            data-tabs-target="tab">Appointments</a>
      </li>

      <li class="custom-nav-item">
        <a class="custom-nav-link"
          id="beehive-tab"
          href="#beehive"
          data-action="tabs#switch"
          data-tabs-target="tab">Buddies</a>
      </li>

      <%# <li class="custom-nav-item">
        <a class="custom-nav-link"
        id="achievements-tab" href="#achievements"
        data-action="tabs#switch"
        data-tabs-target="tab">Achievements</a>
      </li> %>

      <li class="custom-nav-item">
        <a class="custom-nav-link active"
        id="availability-tab"
        href="#availability"
        data-action="tabs#switch"
        data-tabs-target="tab">Availability</a>
      </li>

    </ul>


    <div class="custom-tab-content" id="accountTabsContent">

      <!-- My Appointments tab ------------------------------------>
      <div class="custom-tab-pane" id="appointments" data-tabs-target="pane">
        <!-- My Appointments Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_appointments', booking: @booking %>
      </div>

      <!-- My Beehive tab --------------------------------------------->
      <div class="custom-tab-pane" id="beehive" data-tabs-target="pane">
        <!-- My Beehive Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_beehive' %>
      </div>


      <!-- My Achievements tab ----------------------------------------->
      <div class="custom-tab-pane" id="achievements" data-tabs-target="pane">
        <!-- My Beehive Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_achievements' %>
      </div>

         <!-- My Availability tab ----------------------------------------->
      <div class="custom-tab-pane active" id="availability" data-tabs-target="pane">
        <!-- My Availability Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_availability' %>
      </div>

    </div>
  </div>
</div>
