<div class="wrapping-container">


  <div class="custom-container" data-controller="tabs">

    <!-- Placeholder button -->
    <button class="back-button-account-overview" onclick="window.location.href='<%= request.referer || root_path %>'">< back</button>

    <h1 class="overview-title"><span class="overview-title-thin">my</span> account overview</h1>

    <!-- Top 3 tabs --------------------------------------------------------------->
    <ul class="custom-nav-tabs" id="accountTabs">
      <li class="custom-nav-item">
        <a class="custom-nav-link active" id="appointments-tab" href="#appointments" data-action="tabs#switch" data-tabs-target="tab"><i class="fa-solid fa-bell"></i>&nbsp; My Appointments</a>
      </li>
      <li class="custom-nav-item">
        <a class="custom-nav-link" id="beehive-tab" href="#beehive" data-action="tabs#switch" data-tabs-target="tab"><i class="fa-solid fa-people-group"></i>&nbsp; My Beehive</a>
      </li>
      <li class="custom-nav-item">
        <a class="custom-nav-link" id="achievements-tab" href="#achievements" data-action="tabs#switch" data-tabs-target="tab"><i class="fa-solid fa-cubes-stacked"></i>&nbsp; My Achievements</a>
      </li>
       <li class="custom-nav-item">
        <a class="custom-nav-link" id="buddies-tab" href="#buddies" data-action="tabs#switch" data-tabs-target="tab"><i class="fa-solid fa-cubes-stacked"></i>&nbsp; My Favorite Buddies</a>
      </li>
    </ul>


    <div class="custom-tab-content" id="accountTabsContent">

      <!-- My Appointments tab ------------------------------------>
      <div class="custom-tab-pane active" id="appointments" data-tabs-target="pane">
        <!-- My Appointments Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_appointments' %>
      </div>

      <!-- My Beehive tab --------------------------------------------->
      <div class="custom-tab-pane" id="beehive" data-tabs-target="pane">
        <!-- My Beehive Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_beehive' %>
      </div>


      <!-- My Achievements tab ----------------------------------------->
      <div class="custom-tab-pane" id="achievements" data-tabs-target="pane">
        <!-- My Beehive Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_achievements' %>
      </div>

      <!-- My Buddies tab ----------------------------------------->
      <div class="custom-tab-pane" id="buddies" data-tabs-target="pane">
        <!-- My Beehive Illustration ------------------------->
        <div class="illustration-account-overview">
          <%= image_tag "accountOverview_twoPeople.png", alt: 'illustration of two people' %>
        </div>
        <%= render 'users/my_buddies' %>
      </div>

    </div>
  </div>
</div>
