<div id="users-show">
  <div class="flex-container">
    <div class="row">

      <!-- White background part -->

      <div class="col white-bg">
          <!-- Placeholder button -->
    
        <div class="d-flex flex-column align-content-center" >

          <%= link_to request.referer || root_path, class: "back-button" do %>
            <i class="fa-solid fa-chevron-left me-2"></i> back
          <% end %>

          <div class="avatar-and-main-info">
            <div class="avatar">
              <% if @user.avatar.present? %>
                <%= image_tag(@user.avatar) %>
              <% end %>
            </div>
            <div class="column-2 user-main-info">
              <div class="profile-heart">
                <%= render partial: 'users/fav_button', locals: { user: @user } %>
              </div>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
              <span class="user-level"><i class="fa-solid fa-desktop fa-sm" style="margin-right:10px"></i><%= @user.experience_level %></span>
            </div>
          </div>

          <div class="programming-languages">
            <h3>Currently using...</h3>
            <% @user.programming_languages.split(', ').each do |language| %>
              <span class="programming-languages-tag"><%= language %></span>
            <% end %>
          </div>
       
        <!-- 
         <div class="achievements">
            <h3>Achievements</h3>
            <div class="user-achievements-icons">
              <% 5.times do %>
                <% image_tag 'achievement_placeholder.png' %>
              <% end %>
            </div>
          </div>
          -->

          <div class="about-me">
            <h3>About me</h3>
            <p><%= @user.about_me %></p>
          </div>
        </div>
      </div>

      <!-- Yellow background part -->
        <div class="col yellow-bg">
          <div class="yellow-container">
            <div class="container d-flex flex-column justify-content-center align-items-start" data-controller="booking-selector" data-booking-selector-time-slots=<%= @time_slots.to_json %>>
              <div class="d-flex flex-column align-items-start mb-4 calendar">
              <h3 class="mb-4">1. Select your appointment with <%= @user.first_name %></h3>
                <%= form_for([@user, @booking]) do |f| %>
                  <%= f.text_field :booking_date, data: { booking_selector_target:"calendar" }, class:"d-none w-100 flatpickr-input" %>
              </div>

              <div class="align-items-center justify-content-center">
                  <h3 class="mb-4">2. Pick a slot</h3>
                  <div data-booking-selector-target="headline" >
                     <% if @time_slots.any? %>
                     <p class="time-slot-placeholder">No date selected yet...</p>
                  </div>
                    <div class="d-flex align-items-start flex-wrap" style="gap: 10px;">
                      <% @time_slots.each do |slot| %>
                        <div
                          class="time-slot-button d-none"
                          data-booking-selector-target="slot"
                          data-date="<%= slot.date %>"
                          data-slot-id="<%= slot.id %>"
                          data-start-time="<%= slot.start_time.strftime("%I:%M %p") %>"
                          data-end-time="<%= slot.end_time.strftime("%I:%M %p") %>"
                          data-action="click->booking-selector#submitData"
                          data-bs-toggle="modal"
                          data-bs-target="#booking-modal">
                          <span><%= slot.start_time.strftime("%I:%M %p") %> - <%= slot.end_time.strftime("%I:%M %p") %></span>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="mt-5 text-center">
                      <p>🥺<br>No time slots available.<br>
                        <%= link_to "Try out another buddy", users_path %>
                      </p>
                    </div>
                  <% end %>
                  <%= render "booking_modal", f: f, user: @user, booking: @booking %>
                  <% end %>
              </div>

            </div>
          </div>
        </div>


    </div>
  </div>
</div>
