<div id="users-show">
  <div class="flex-container">
    <div class="row">
      <!-- White background part -->
      <div class="col white-bg">
        <div class="" style="min-height: 900px;">
          <!-- Placeholder button -->
          <button class="back-button" onclick="window.location.href='<%= request.referer || root_path %>'">< back</button>

          <div class="avatar-and-main-info">
            <div class="avatar">
              <% if @user.avatar.present? %>
                <%= image_tag(@user.avatar, style: "width:320px; height:240px; object-fit:cover; border-radius:20px;") %>
              <% end %>
            </div>
            <div class="user-main-info">
              <%= image_tag 'user_profile_hexagon.png', alt: 'User Profile Hexagon', class: 'profile-hexagon' %>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
            </div>
          </div>

          <div class="about-me">
            <h3>About me</h3>
            <p><%= @user.about_me %></p>
          </div>

          <div class="achievements">
            <h3>Achievements</h3>
          </div>

          <div class="programming-languages">
            <h3>Currently using...</h3>
          </div>

        </div>
      </div>
      <!-- Yellow background part -->
      <div class="col yellow-bg">
        <div class="container yellow-container">
          <h1 style="width:300px; font-size:25px;">Choose your appointment with <%= @user.first_name %></h1>

          <%#
            - create form with hidden fields
            - when clicking on of the time-slots a modal should be triggered
            - modal shows booking overview
            - modal has confirm button which creates the booking
          %>

          <div class="d-flex" style="width: 280px">
            <% @user.time_slots.each do |slot| %>
              <div class="time-slot-button text-center" data-bs-toggle="modal", data-bs-target="#confirmation-modal">
                <strong><%= slot.start_time.strftime("%A") %></strong>
                <p>Start: <%= slot.start_time.strftime("%I:%M %p") %></p>
                <p>End: <%= slot.end_time.strftime("%I:%M %p") %></p>
              </div>
            <% end %>
            <%= render "booking_confirmation", user: @user, booking: @booking %>


            <!-- Placeholder button -->
            <%# <button class="confirm-button">confirm</button> %>
          <%# render "booking_modal" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
