<div id="users-show">
  <div class="flex-container">
    <div class="row">

      <!-- White background part -->

      <div class="col white-bg">
        <div class="" style="min-height: 900px; width: 70%;">
          <!-- Placeholder button -->
          <button class="back-button" onclick="window.location.href='<%= request.referer || root_path %>'">< back</button>

          <div class="avatar-and-main-info">
            <div class="avatar">
              <% if @user.avatar.present? %>
                <%= image_tag(@user.avatar) %>
              <% end %>
            </div>
            <div class="column-2 user-main-info">
              <div class="profile-heart">
                <%= render partial: 'users/fav_button', locals: { user: @user } %>
              </div>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
              <span class="user-level"><i class="fa-solid fa-desktop fa-sm" style="margin-right:10px"></i><%= @user.experience_level %></span>
            </div>
          </div>

          <div class="programming-languages">
            <h3>Currently using...</h3>
            <% @user.programming_languages.split(', ').each do |language| %>
              <span class="programming-languages-tag"><%= language %></span>
            <% end %>
          </div>

          <div class="achievements">
            <h3>Achievements</h3>
            <!-- Placeholder hexagons -->
            <div class="user-achievements-icons">
              <% 5.times do %>
                <%= image_tag 'achievement_placeholder.png' %>
              <% end %>
            </div>
          </div>

          <div class="about-me">
            <h3>About me</h3>
            <p><%= @user.about_me %></p>
          </div>
        </div>
      </div>

      <!-- Yellow background part -->

      <div class="col yellow-bg">
        <div class="yellow-container">
          <h3 class="mb-3">Make an appointment with <%= @user.first_name %></h3>
          <div class="container" data-controller="booking-selector" data-booking-selector-time-slots=<%= @time_slots.to_json %>>

            <div class="d-flex justify-content-center">
              <%= form_for([@user, @booking]) do |f| %>
                <%= f.text_field :booking_date, data: { booking_selector_target:"calendar" }, class:"d-none" %>

                <% unless @time_slots.empty? %>
                  <% @time_slots.each do |slot| %>
                    <div class="time-slot-button mt-5 d-none" data-booking-selector-target="slot" data-date=<%= slot.date %>>
                      <span><%= slot.start_time.strftime("%I:%M %p") %> - <%= slot.end_time.strftime("%I:%M %p") %></span>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>

                <%# render "booking_modal", user: @user, booking: @booking %>
<%# data-toggle="modal" data-target="#booking_modal" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
