<div id="users-show">
  <div class="flex-container">
    <div class="row">
      <!-- White background part -->
      <div class="col white-bg">
        <div class="" style="min-height: 900px;">
          <!-- Placeholder button -->
          <button class="back-button" onclick="window.location.href='<%= request.referer || root_path %>'">< back</button>

          <div class="avatar-and-main-info">
            <div class="avatar">
              <% if @user.avatar.present? %>
                <%= image_tag(@user.avatar, style: "width:320px; height:240px; object-fit:cover; border-radius:20px;") %>
              <% end %>
            </div>
            <div class="user-main-info">
              <%= image_tag 'user_profile_hexagon.png', alt: 'User Profile Hexagon', class: 'profile-hexagon' %>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
            </div>
          </div>

          <div class="about-me">
            <h3>About me</h3>
            <p><%= @user.about_me %></p>
          </div>

          <div class="achievements">
            <h3>Achievements</h3>
          </div>

          <div class="programming-languages">
            <h3>Currently using...</h3>
          </div>

        </div>
      </div>
      <!-- Yellow background part -->
      <div class="col yellow-bg">
        <div class="yellow-container">
          <h1 style="width:300px; font-size:25px;">Confirm your appointment with <%= @user.username %></h1>

          <div class="" style="width: 280px; display: flex; flex-wrap: wrap;">
            <% 6.times do %>
              <div class="" style="background-color:white; width:120px; height:120px; margin: 10px 20px; margin-left:0; padding: 10px; display: flex;">
                <p style="display: grid; place-items: center; text-align:center;">March 30, 16:00hr</p>
              </div>
            <% end %>

            <!-- Placeholder button -->
            <button class="confirm-button">confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
