<div id="users-show">
  <div class="flex-container">
    <div class="row">

      <!-- White background part -->

      <div class="col white-bg">
        <div class="" style="min-height: 900px; width: 70%;">
          <!-- Placeholder button -->
          <button class="back-button" onclick="window.location.href='<%= request.referer || root_path %>'">< back</button>

          <div class="avatar-and-main-info">
            <div class="avatar">
              <% if @user.avatar.present? %>
                <%= image_tag(@user.avatar, style: "width:320px; height:240px; object-fit:cover; border-radius:20px;") %>
              <% end %>
            </div>
            <div class="user-main-info">
              <%# image_tag 'user_profile_hexagon.png', alt: 'User Profile Hexagon', class: 'profile-hexagon' %>
              <%= render partial: 'users/fav_button', locals: { user: @user } %>
              <h3><%= @user.first_name %> <%= @user.last_name %></h3>
              <span class="user-level"><i class="fa-solid fa-desktop fa-sm" style="margin-right:10px"></i><%= @user.experience_level %></span>
            </div>
          </div>

          <div class="programming-languages">
            <h3>Currently using...</h3>
            <% @user.programming_languages.split(', ').each do |language| %>
              <span class="programming-languages-tag"><%= language %></span>
            <% end %>
          </div>

          <div class="achievements">
            <h3>Achievements</h3>
            <!-- Placeholder hexagons -->
            <div class="user-achievements-icons">
              <% 5.times do %>
                <%= image_tag 'achievement_placeholder.png' %>
              <% end %>
            </div>
          </div>

          <div class="about-me">
            <h3>About me</h3>
            <p><%= @user.about_me %></p>
          </div>
        </div>
      </div>

      <!-- Yellow background part -->

      <div class="col yellow-bg">
        <div class="yellow-container">
          <h3 class="mb-3">Select your appointment with <%= @user.first_name %></h3>
          <div class="container" data-controller="day-selector">

            <div class="d-flex justify-content-evenly mb-5" >
              <% [1, 2, 3, 4, 5, 6, 0].each do |day| %>
                <div class="day-bubble" data-day-selector-target="bubble" data-datepicker-target="day" data-action="click->day-selector#selectDay" data-day="<%= day %>"
                  <span><%= day_string(day)[0...3] %></span>
                </div>
              <% end %>
            </div>

            <div class="row gap-3" data-controller="time-slot-picker">
                <% @time_slots.each do |slot| %>
                    <div
                    <%# data-bs-toggle="modal" %>
                    <%# data-bs-target="#confirmation-modal" %>
                    <%# data-action="click->time-slot-picker#selectTimeSlot" %>
                    class="time-slot-button p-2 col-5 d-none"
                    data-day-selector-target="slot"
                    data-action="click->day-selector#selectTime"
                    data-slot-id="<%= slot.id %>"
                    data-start-time="<%= slot.start_time.strftime("%I:%M %p") %>"
                    data-end-time="<%= slot.end_time.strftime("%I:%M %p") %>"
                    data-day="<%= slot.day %>">
                      <span><%= slot.start_time.strftime("%I:%M") %> - <%= slot.end_time.strftime("%I:%M %p") %></span>
                    </div>
                <% end %>

                <%= form_for @booking, html: { data: { day_selector_target: "datepicker" } } do |f| %>
                  <%= f.text_field :booking_date, class:"d-none"%>
                  <%= f.submit class:"btn-home d-none", data: { day_selector_target: "submit" } %>
                <% end %>
            </div>



              <%= render "booking_confirmation", user: @user, booking: @booking %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
