<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-1 border-bottom border-dark">
  <div class="container-fluid px-5">
    <div class="navbar-nav">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo.png', alt: 'Logo' %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Middle Items -->
    <div class="mx-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">buddies</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <!-- Notification Bell -->
          <li class="nav-item dropdown" data-controller="notifications">
            <a href="#" class="nav-link position-relative" id="notificationDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge bg-danger position-absolute top-0 start-100 translate-middle p-1 border border-light rounded-circle d-none" data-notifications-target="badge">
                <!-- Badge content will be updated dynamically by Stimulus -->
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown" style="background-color:#fff; border: 1px solid #000;">
              <div data-notifications-target="list">
                <% current_user.notifications.unread.each do |notification| %>
                  <a class="dropdown-item" href="#" data-action="click->notifications#markAsRead" data-notification-id="<%= notification.id %>">
                    <%= notification.message %>
                  </a>
                <% end %>
              </div>
            </div>
          </li>

          <!-- User Avatar -->
          <li class="nav-item dropdown">
            <% if current_user.avatar? %>
              <a href="#" class="nav-link p-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.avatar, class: "avatar-large border border-2 border-dark rounded-circle", alt: "dropdown menu" %>
              </a>
            <% else %>
              <a href="#" class="nav-link p-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag 'placeholder-avatar.png', class: "avatar-large border border-2 border-dark rounded-circle", alt: "dropdown menu" %>
              </a>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background-color:#fff; border: 1px solid #000;">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              <%= link_to "My Account", account_overview_user_path(current_user), class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark px-4 py-1 rounded-pill" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

