<!DOCTYPE html>
<html>
  <head>
    <title>Devbuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="wrapper">
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

    <% if alert %>
      <div class="alert alert-danger" data-controller="notification"><%= alert %></div>
    <% end %>

    <% if notice %>
      <div class="alert alert-success" data-controller="notification"><%= notice %></div>
    <% end %>

    <% if flash[:warning] %>
      <div class="alert alert-warning" data-controller="notification"><%= flash[:warning] %></div>
    <% end %>
  </body>
</html>
